<input type="button" value="Получить родетеля" id="parentBtn"/>
<input type="button" value="Получить детей" id="childBtn" />
<input type="button" value="Сменить статус" id="changeStatusBtn" />
<input type="text" value="32777b89-b171-4277-acb2-f5b9b5a0a1bf" id="childId" />

<p id="result">

</p>

<script>
    $("#parentBtn").on("click", function(){
        $.ajax({
            type: "GET",
            url: "/api/parent/get",
            data: { DeviceId: "B096EC13-195F-4CC1-9033-3DE949E74AEC" }
        }).done(function (res) {
            $("#result").html(JSON.stringify(res));
        });
    });

    $("#childBtn").on("click", function () {
        $.ajax({
            type: "GET",
            url: "/api/child/get",
            data: { ParentId: "72697ABE-929B-490D-9A6D-441FFB836682" }
        }).done(function (res) {
            $("#result").html(JSON.stringify(res));
        });
    });

    $("#changeStatusBtn").on("click", function () {

        var childId = $("#childId").val();
        debugger;
        $.ajax({
            type: "GET",
            url: "/api/child/changeStatus",
            data: { ChildId: childId, Status: "fdfdfdf" }
        }).done(function (res) {
            $("#result").html(JSON.stringify(res));
        });
    });

    

</script>
